.dashboard {
    &__grid-container {
        display: grid;
        grid-template-columns: 240px 1fr;
        grid-template-rows: 60px 1fr;
        grid-template-areas:
            "sidenav header"
            "sidenav main";
        height: 100vh;
    }

    &__header {
        grid-area: header;
        background-color: #fff;
    }

    &__sidenav {
        grid-area: sidenav;
        background-color: #fff;
    }

    &__sidenav-content {
        @apply p-4 mt-6
    }

    &__sidenav-logo {
        @apply p-4 mt-6 text-xl
    }

    &__sidenav-menu-item {
        @apply p-2 cursor-pointer
    }

    &__sidenav-menu-item--selected {
        background-color: theme('colors.grey.200');
    }

    &__sidenav-menu-item-icon {
        @apply text-black mr-2 text-grey-400
    }

    &__main {
        grid-area: main;
        background-color: #f4f5f7;
    }
    
    &__main-content {
        @apply p-4 mt-6
    }

}